/*custom css*/




body {
  background-image: url("../resources/bg.jpg");
}


textarea {
  resize: none;
}
div.forumPost {
  background-color: white;
  height: 100vh;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}



/* This class is intended to be paired with the "main-content" ID */
.white-mainclass {
  background-color: #FFFFFF;
  overflow-y: scroll

}


 h1:not(.white-mainclass > h1) { 
  font-size: 40pt;
  color: #FFFFFF; 
  /* Color here fixes low constrast issue */
  background-color: rgb(21,33,45);
  width: fit-content;

} 
*/
.forumPost > h1 {
  margin:20px;
}
.forumPost > p
{
  padding: 30px;
  ;
}
.App {
  /* width: 100vw; */
  height: 100vh;
}

.replyButton {
  margin: 10px;
}

ul {
  padding-left: 0;

  margin-top: 3rem;
}

.Sidebar-close
{
    z-index: 10;
  width: 200px;
  background-color: black;
  /* animation-name: sidebar-fadeout; */
  position: fixed;
  /* animation-duration: 5s; */
  opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0s 0.5s;
  /* display: none; */
  height: 200px;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.Sidebar {
  z-index: 10;
  width: 200px;
  background-color: black;
  /* animation-name: sidebar-fadeout; */
  position: fixed;
  /* animation-duration: 5s; */
  opacity: 1;
	visibility: visible;
	transition: opacity 0.5s;
  /* display: none; */
  height: 200px;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

@keyframes sidebar-fadeout{
  0%  {opacity: 100%; display: inline;}
  100% {opacity: 0%;display: none;}
}

#sidebar-main {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.checklist > li {
  color: white;
  list-style-type: none;
  background-color: #4285f4;
  margin-bottom: 0.5rem;
  margin: 0.5rem;
  text-align: center;
}

li > p {
  margin-top: auto;
  margin-bottom: auto;
}
li.completed {
  background-color: #42f4a1;
}
li.completed:hover {
  background-color: #42f4a1;
}
body {
  margin: 0;
  padding: 0;
}


.video-list > ul > li {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

img.preview-img {
  border-radius: 0.5rem;
}
.video-list > ul > li > p {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 20vw;
  overflow-x: hidden;
}

iframe {
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
}

li.highlighted {
  background-color: rgb(53 81 84);
}

li.listed {
  background-color: rgb(28, 44, 46);
}
.video-list > ul > li > img {
  width: 7rem;
}

.video-list {
  width: 20vw;
  color: white;
  background-color: rgb(12 19 20);
  list-style-type: none;
  display: flex;
}
.video-list > ul {
  list-style-type: none;
  width: 20vw;
}

.video-link {
  font-weight: 700;
}
.video-player {
  display: flex;
  justify-content: space-between;
  margin-left: 10vw;
}
li.completed,
li.incomplete {
  display: flex;
  /* justify-content: space-between; */
  padding: 0.4rem;
}
#sidebar-main {
  background-color: rgb(28, 44, 46);
  height: 100vh;

  animation-duration: 1s;
  position: absolute;
}

.sidebar-expanded {
  animation-name: sidebar-open;
  width: 20vw;
}
.sidebar-collapsed {
  animation-name: sidebar-close;
  width: 0vw;
}

button.checkbox {
  margin-right: 0px;
  right: 0;
}

@keyframes sidebar-close {
  0% {
    width: 20vw;
  }
  100% {
    width: 0vw;
  }
}

@keyframes sidebar-open {
  0% {
    width: 0vw;
  }
  100% {
    width: 20vw;
  }
}


fieldset{
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}


/*shared attributes for main area*/

.main-white, .article-wrapper-full {
  background-color: white;
}
.article-wrapper-full{
  padding: 30px;
}

#video-player {
  background-color: rgb(28, 44, 46);
}





#main-content {
  /* When a div with a 'main-content' id is made part of the '.main-white' class the appropriate formatting is applied to child elements */
  height: 100vh;
  /* prevents table from getting scrunched up at smaller window sizes */
  min-width: 400px;
  padding: 15px;
}
#main-content, #video-player{
  /* margin-left: auto;
  margin-right: 10vw; */
  width: 80vw;
  /* vh only calculated on startup? */
  margin-left: auto;
  margin-right: auto;
  /* padding: 15px; */
  /*I stole this background color from Pedro's tutorial*/

  /* animation-duration: 1s; */
  left: 0;
  right: 0;
}
  /* background-color: rgb(28, 44, 46); */
#video-player {
  height: 60vh;
}



/* HOME PAGE */



h1, #main-content > p,#main-content > h2  {
  margin-left: 20px;
}
.tile-wrapper {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}



/* I found a way to auto-scale the video player while maintaining the aspect ratio: (credit: goes to "michal.jakubeczy")
https://stackoverflow.com/questions/35814653/automatic-height-when-embedding-a-youtube-video*/
iframe{
  width: 60vw;
  height: calc(60vw/1.77);
}
/* media query must appear AFTER the settings it overrides */
@media only screen and (max-width: 1200px) {
  .tile-wrapper {
    grid-template-columns: auto auto;
  }
  
}
@media only screen and (max-width: 900px) {
  /* .tile-wrapper {
    grid-template-columns: auto;
  } */


  #video-player{
    display: block;
    height: auto;
  }
  iframe{
  width: 80vw;
  height: calc(80vw/1.77);
}
  .video-list {
    width: 100%
  }
  .video-list > ul {
    width: 100%;
  }
}
.tile {
  width: 300px;
  height: 300px;
  position: relative;
  background-size: 110%;
  margin: 20px;
  box-shadow:         inset 0 0 40px #000000;
}
.todo-description{
  text-indent: 40px;
  font-size:small;
}

svg{
  margin: 5px;
}
.check-wrapper{
  display: flex;
  align-items: center;
}


.tile > button {
  position: absolute;
  bottom: 0;
}


.tile > p, .tile > h2 {
  background-color: rgba(0, 0, 0, 0.74);
  color: #FFFFFF;

  padding: 5px;
  border-radius: 5px;
}

section.admin-controls > *, .admin-publishing > * {
  margin: 10px;
}

.tile > * {
  margin: 20px;
}
.main-expanded {
  /*width: 80vw;*/
  animation-name: main-expanded;
  width: 80vw;
}
.main-collapsed {
  /* width: 70vw; */
  animation-name: main-collapsed;
  width: 60vw;
}



@keyframes main-collapsed {
  0% {
    width: 80vw;
  }
  100% {
    width: 60vw;
  }
}

@keyframes main-expanded {
  0% {
    width: 60vw;
  }
  100% {
    width: 80vw;
  }
}

.user-comment {
  background-color: #8f8f8f;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.user-comment > h4 {
  font-size: 1.1rem;
}


/* USER COMMENT STYLING OPTIONS */


.comment-lower {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;

}


.time-posted {
  font-size: 10pt;
  font-style: italic;
}
.comment-actions {
  font-size: 0.8rem;
  font-weight: 800;
  color: #4b4b4b;
  /* text-align: right; */
}

.comment-actions > span {
  margin-right: 1rem;
}
.comment-actions > span:hover {
  text-decoration: underline;
}
.comment-section {
  margin-left: 10vw;
  margin-right: 10vw;
  width: "auto";
  background-color: white;
  height: 100%;
  overflow-x: scroll;
}

.comment-wrapper {
  background-color: rgb(77, 77, 77);
  height: 25vh;
}

.preview-content {
  margin-left: 20px;
}


.article-list-grid{
  display: grid;
  grid-template-columns: auto auto;
}
/* Used for displaying articles */
.article-list-grid, .article-list{
  list-style-type: none;
  width: 100%;
}
.article-list {
  /* display: flex; */
  /* margin-left: auto;
  margin-right: auto; */

  display: flex;
  flex-direction: column;
}

.preview-content > a{
  color: black;
  text-decoration: none;

}


.article-list > li {
  margin-left: auto;
  margin-right: auto;
}

.article-list > li , .article-list-grid > li{
  display: flex;
  justify-content: flex-start;

  margin-bottom: 20px;
  width: 50%;
}
.thumbnail {
  min-width:100px;
}

footer {
  color: white;
  background-color: rgb(33,37,41);
  height: 150px;
}

.comment-section > * {
  margin: 1rem;
}

.reply {
  border-radius: 10px;
  padding: 15px;
  background-color: #d8d8d8;
  margin-left: 50px;
}



/* WYSIWYG text editor settings */
.rdw-dropdown-wrapper > * {
  text-decoration: none;
  color: #000000;
}